<h1><%= @cocktail.name %></h1>
  <ul>
  <% @cocktail.doses.each do |dose|%>
    <li>
      <%= dose.description %>
      <%= dose.ingredient.name %>
      <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete do %>
        <i class="fa fa-trash-alt"></i>
      <% end %>
    </li>
  <% end %>
</ul>
<p class: btn btn-primary><%= link_to "Ajouter une dose", new_cocktail_dose_path(@cocktail), :class => "btn btn-warning" %><p>
<p class: btn btn-primary><%= link_to "Revenir à tous les cocktails", root_path, :class => "btn btn-warning" %><p>
